<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{death}">
<body>
<div layout:fragment="content">
    <div class="container" style="z-index: 10000;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="animated fadeInDown animation-delay-5 color-white" style="font-weight: bold; font-size: 4.6rem">INGRESE EL NUMERO DE CALAVERA POR LA QUE DESEA VOTAR</h1>
                <h4 class="animated fadeInDown animation-delay-5 color-white" style="font-weight: bold;" th:text="${form.name}"></h4>
            </div>
            <div class="col-md-6 offset-3">
                <div class="alert alert-danger text-center" th:if="${SUCCESS_MESSAGE != null}">
                    <p>
                        <i class="zmdi zmdi-info-outline"></i> <span th:text="${SUCCESS_MESSAGE}" style="font-size:25px;"></span>
                    </p>
                </div>
                <form class="form-horizontal" autocomplete="off" th:action="@{/death/cosplay}" th:object="${form}" method="post">
                    <input type="hidden" th:field="*{user}"/>
                    <div class="alert alert-danger text-center" th:if="${#fields.hasErrors('*')}">
                        <p th:each="err : ${#fields.errors('*')}">
                            <i class="zmdi zmdi-info-outline"></i> <span th:text="${err}" style="font-size:25px;"></span>
                        </p>
                    </div>
                    <fieldset>
                        <legend>&nbsp;</legend>
                        <div class="form-group row" style="margin: 38px 0 0;">
                            <input type="number" maxlength="2"
                                   class="mapremex-survey-input form-control text-center"
                                   placeholder="" th:field="*{cosplay}"
                                   style="height: 88px;font-size: 100px;color: white;" autofocus="autofocus"/>
                        </div>
                        <div class="form-group row justify-content-center">
                            <button type="submit" class="btn btn-raised btn-primary btn-lg">Enviar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>