<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333">
    <title>Promex Logistics</title>
    <meta name="description" content="Material Style Theme">
    <link rel="shortcut icon" th:href="@{/assets/img/favicon.ico}">
    <link rel="stylesheet" ref="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" th:href="@{/assets/css/preload.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.light-blue-500.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/width-boxed.min.css}" id="ms-boxed" disabled="">
    <!--[if lt IE 9]>
        <script th:src="@{/assets/js/html5shiv.min.js}"></script>
        <script th:src="@{/assets/js/respond.min.js}"></script>
    <![endif]-->
    <style>
        svg {
            z-index: 1;
        }
    </style>
</head>

<body>
    <!--
    <a href="javascript:void(0)" class="ms-conf-btn ms-configurator-btn btn-circle btn-circle-raised btn-circle-primary animated rubberBand"><i class="fa fa-gears"></i></a>
    -->
    <div id="ms-configurator" class="ms-configurator">
        <div class="ms-configurator-title">
            <h3><i class="fa fa-gear"></i> Theme Configurator</h3>
            <a href="javascript:void(0);" class="ms-conf-btn withripple"><i class="zmdi zmdi-close"></i></a>
        </div>
        <div class="panel-group" id="accordion_conf" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="ms-conf-header-color">
                    <h4 class="panel-title">
              <a role="button" class="withripple" data-toggle="collapse" href="#ms-collapse-conf-1" aria-expanded="true" aria-controls="ms-collapse-conf-1">
                <i class="zmdi zmdi-invert-colors"></i> Color Selector </a>
            </h4>
                </div>
                <div id="ms-collapse-conf-1" class="card-collapse collapse show" role="tabpanel" aria-labelledby="ms-conf-header-color" data-parent="#accordion_conf">
                    <div class="panel-body">
                        <div id="color-options" class="ms-colors-container">
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary red" data-color="red">red</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary pink" data-color="pink">pink</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary purple" data-color="purple">purple</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary deep-purple" data-color="deep-purple">deep-purple</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary indigo" data-color="indigo">indigo</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary blue" data-color="blue">blue</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary light-blue active" data-color="light-blue">light-blue</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary cyan" data-color="cyan">cyan</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary teal" data-color="teal">teal</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary green" data-color="green">green</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary light-green" data-color="light-green">light-green</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary lime" data-color="lime">lime</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary yellow" data-color="yellow">yellow</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary amber" data-color="amber">amber</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary orange" data-color="orange">orange</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary deep-orange" data-color="deep-orange">deep-orange</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary brown" data-color="brown">brown</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary grey" data-color="grey">grey</a>
                            <a href="javascript:void(0);" class="ms-color-box ms-color-box-primary blue-grey" data-color="blue-grey">blue-grey</a>
                        </div>
                        <div id="grad-options" class="ms-color-shine">
                            <h4 class="no-mb text-center">Color Brightness</h4>
                            <span>300</span><span>400</span><span>500</span><span>600</span><span>700</span><span>800</span>
                            <a href="javascript:void(0)" data-shine=300 class="ms-color-box grad c300 light-blue">300</a>
                            <a href="javascript:void(0)" data-shine=400 class="ms-color-box grad c400 light-blue">400</a>
                            <a href="javascript:void(0)" data-shine=500 class="ms-color-box grad c500 light-blue active">500</a>
                            <a href="javascript:void(0)" data-shine=600 class="ms-color-box grad c600 light-blue">600</a>
                            <a href="javascript:void(0)" data-shine=700 class="ms-color-box grad c700 light-blue">700</a>
                            <a href="javascript:void(0)" data-shine=800 class="ms-color-box grad c800 light-blue">800</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="ms-conf-header-headers">
                    <h4 class="panel-title">
              <a class="collapsed withripple" role="button" data-toggle="collapse" href="#ms-collapse-conf-2" aria-expanded="false" aria-controls="ms-collapse-conf-2">
                <i class="zmdi zmdi-view-compact"></i> Header Styles </a>
            </h4>
                </div>
                <div id="ms-collapse-conf-2" class="card-collapse collapse" role="tabpanel" aria-labelledby="ms-conf-header-headers" data-parent="#accordion_conf">
                    <div class="panel-body">
                        <!--<h5>Preset Options</h5>
                    <form class="form-inverse ms-conf-radio">
                        <div class="form-group">
                            <div class="radio radio-primary">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">Default Style
                                </label>
                            </div>
                            <div class="radio radio-primary">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Pure Material
                                </label>
                            </div>
                            <div class="radio radio-primary">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Navbar Mode
                                </label>
                            </div>
                        </div>
                    </form>
                    <h5>Custom Header</h5>-->
                        <h6>Header Options</h6>
                        <form class="form-inverse ms-conf-radio" id="header-config">
                            <div class="form-group">
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="customHeader" id="whiteHeader" value="white" checked="cheked"> Light Color </label>
                                </div>
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="customHeader" id="primaryHeader" value="primary"> Primary Color </label>
                                </div>
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="customHeader" id="darkHeader" value="dark"> Dark Color </label>
                                </div>
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="customHeader" id="noHeader" value="hidden"> No Header (Navbar Mode) </label>
                                </div>
                            </div>
                        </form>
                        <h6>Navbar Options</h6>
                        <form class="form-inverse ms-conf-radio" id="navbar-config">
                            <div class="form-group">
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="customNavbar" id="whiteNavbar" value="white" checked=""> Light Color </label>
                                </div>
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="customNavbar" id="primaryNavbar" value="primary"> Primary Color </label>
                                </div>
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="customNavbar" id="darkNavbar" value="dark"> Dark Color </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="ms-conf-header-container">
                    <h4 class="panel-title">
              <a class="collapsed withripple" role="button" data-toggle="collapse" href="#ms-conf-collapse-3" aria-expanded="false" aria-controls="ms-conf-collapse-3">
                <i class="zmdi zmdi-grid"></i> Container Options </a>
            </h4>
                </div>
                <div id="ms-conf-collapse-3" class="card-collapse collapse" role="tabpanel" aria-labelledby="ms-conf-header-container" data-parent="#accordion_conf">
                    <div class="panel-body">
                        <form class="form-inverse ms-conf-radio" id="boxed-config">
                            <div class="form-group">
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="customWidth" id="fullWidth" value="full" checked=""> Full Width </label>
                                </div>
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="customWidth" id="boxedWidth" value="boxed"> Boxed Mode </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ms-preload" class="ms-preload">
        <div id="status">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <div class="ms-site-container ms-nav-fixed">
        <nav class="navbar navbar-expand-md navbar-fixed ms-lead-navbar navbar-mode navbar-mode mb-0" id="navbar-lead">
            <div class="container container-full">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img th:src="@{/assets/img/logo.png}" alt="" height="50px">
                        <!--
                        <span class="ms-logo ms-logo-white ms-logo-sm">P</span>
                        <span class="ms-title">romex <strong>&nbsp;Logistics</strong></span>
                        -->
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <!--
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a data-scroll class="nav-link active" href="#home">Home</a></li>
                        <li class="nav-item"><a data-scroll class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a data-scroll class="nav-link" href="#portfolio">Portfolio</a></li>
                        <li class="nav-item"><a data-scroll class="nav-link" href="#pricing">Pricing</a></li>
                        <li class="nav-item"><a data-scroll class="nav-link" href="#about">About us</a></li>
                        <li class="nav-item"><a data-scroll class="nav-link" href="#team">Team</a></li>
                        <li class="nav-item"><a data-scroll class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                    -->
                </div>
                <!-- navbar-collapse collapse -->
                <!--
                <a href="javascript:void(0)" class="ms-toggle-left btn-navbar-menu"><i class="zmdi zmdi-menu"></i></a>
                -->
            </div>
            <!-- container -->
        </nav>
        <div class="intro-full ms-hero-img-road ms-hero-bg-primary color-white ms-bg-fixed" id="home">
            <svg id="svg" style="position:fixed !important;"></svg>
            <div class="intro-full-content index-1">
                <div class="container">

                    <div layout:fragment="content" ng-app="smaApp" class="col ng-cloak" style="z-index: 100000">
                        <h1>This is the Layout's main section</h1>
                        <p>This content will be replaced if the page using the layout also defines a layout:fragment="content" segment.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-back-top">
            <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised "><i class="zmdi zmdi-long-arrow-up"></i></a>
        </div>
        <div class="bg-light index-1 intro-full-next">

            <footer class="ms-footer">
                <div class="container">
                    <p>Copyright &copy; Promex Logistics 2019</p>
                </div>
            </footer>
            <div class="btn-back-top">
                <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised "><i class="zmdi zmdi-long-arrow-up"></i></a>
            </div>
        </div>
    </div>
    <!-- ms-site-container -->
    <div class="ms-slidebar sb-slidebar sb-left sb-momentum-scrolling sb-style-overlay">

        <header class="ms-slidebar-header">
            <div class="ms-slidebar-login">
                <a href="javascript:void(0)" class="withripple"><i class="zmdi zmdi-account"></i> Login</a>
                <a href="javascript:void(0)" class="withripple"><i class="zmdi zmdi-account-add"></i> Register</a>
            </div>
            <div class="ms-slidebar-title">
                <form class="search-form">
                    <input id="search-box-slidebar" type="text" class="search-input" placeholder="Search..." name="q" />
                    <label for="search-box-slidebar"><i class="zmdi zmdi-search"></i></label>
                </form>
                <div class="ms-slidebar-t">
                    <span class="ms-logo ms-logo-sm">M</span>
                    <h3>Material<span>Style</span></h3>
                </div>
            </div>
        </header>
        <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
            <li><a data-scroll class="link" href="#home"><i class="zmdi zmdi-home"></i> Home</a></li>
            <li><a data-scroll class="link" href="#services"><i class="zmdi zmdi-flight-takeoff"></i> Services</a></li>
            <li><a data-scroll class="link" href="#portfolio"><i class="zmdi zmdi-desktop-mac"></i> Portfolio</a></li>
            <li><a data-scroll class="link" href="#pricing"><i class="zmdi zmdi-money-box"></i> Pricing</a></li>
            <li><a data-scroll class="link" href="#about"><i class="zmdi zmdi-info-outline"></i> About Us</a></li>
            <li><a data-scroll class="link" href="#team"><i class="zmdi zmdi-accounts"></i> Team</a></li>
            <li><a data-scroll class="link" href="#contact"><i class="zmdi zmdi-email"></i> Contact</a></li>
            <li><a data-scroll class="link" href="index.html"><i class="zmdi zmdi-swap"></i> Main Site</a></li>
        </ul>
        <div class="ms-slidebar-social ms-slidebar-block">
            <h4 class="ms-slidebar-block-title">Social Links</h4>
            <div class="ms-slidebar-social">
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm btn-facebook"><i class="zmdi zmdi-facebook"></i> <span class="badge-pill badge-pill-pink">12</span></a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm btn-twitter"><i class="zmdi zmdi-twitter"></i> <span class="badge-pill badge-pill-pink">4</span></a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm btn-youtube"><i class="zmdi zmdi-youtube"></i></a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
            </div>
        </div>
    </div>
    <script th:src="@{/assets/js/plugins.min.js}"></script>
    <script th:src="@{/assets/js/app.min.js}"></script>
    <script th:src="@{/assets/js/configurator.min.js}"></script>
    <script th:src="@{/assets/js/lead-full.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script>
        $(document).ready(function() {
            var Ghost = /** @class */ function() {
                function Ghost(svg, start, end) {
                    this.id = String(Math.round(Math.random() * 999999999999999));
                    this.group = svg.group();
                    this.startPoint = start;
                    this.endPoint = end;
                    this.startThickness = 0;
                    this.endThickness = 150 + Math.round(Math.random() * 50);
                    this.guidePosition = Math.random() * 10000;
                    this.frequency = 0.001 + Math.random() * 0.001;
                    this.amplitude = 20 + Math.random() * 40;
                    this.height = 0;
                    this.endHeight = 150 + Math.round(Math.random() * 100);
                    this.y = 0;
                    var faceAttr = {
                        fill: '#111111',
                        opacity: 0.9,
                        stroke: 'none'
                    };

                    this.body = this.group.path().attr({
                        fill: '#eeeeee',
                        opacity: 0.8,
                        stroke: 'none'
                    });

                    this.eyeLeft = this.group.path().attr(faceAttr);
                    this.eyeRight = this.group.path().attr(faceAttr);
                    this.mouth = this.group.path().attr(faceAttr);
                    this.updateGuide();
                }
                Ghost.prototype.remove = function() {
                    this.group.remove();
                };
                Ghost.prototype.updateGuide = function() {
                    this.guide = [];
                    var height = this.startPoint.y - this.endPoint.y;
                    var widthChange = this.startPoint.x - this.endPoint.x;
                    var y = this.startPoint.y;
                    while (y-- >= this.endPoint.y) {
                        var x = this.startPoint.x + (widthChange - widthChange / height * y);
                        var wave = Math.sin(y * this.frequency + this.guidePosition);
                        this.guide.push({
                            y: y,
                            x: x + (wave * this.amplitude / 2 + this.amplitude / 2)
                        });
                    }
                    //console.log(this.guide)
                };
                Ghost.prototype.start = function(onComplete) {
                    TweenMax.to(this, 2, {
                        y: this.guide.length,
                        height: this.endHeight,
                        position: '+=6',
                        ease: SlowMo.ease.config(0.3, 0.3, false),
                        onComplete: onComplete,
                        onCompleteParams: [this]
                    });
                };
                Ghost.prototype.getPointAlongGuide = function(y, offsetXPercentage) {
                    if (this.guide.length) {
                        if (y >= this.guide.length)
                            y = this.guide.length - 1;
                        if (y < 0)
                            y = 0;
                        var thicknessDifference = this.endThickness - this.startThickness;
                        var percentageAlongGuide = y / this.guide.length * 100;
                        var thickness = this.startThickness + thicknessDifference / 100 * percentageAlongGuide;
                        var xOffset = thickness / 2 / 100 * offsetXPercentage;
                        return {
                            x: this.guide[y].x + xOffset,
                            y: this.guide[y].y
                        };
                    }
                    return {
                        x: 0,
                        y: 0
                    };
                };
                Ghost.prototype.drawPath = function(pathPoints) {
                    var points = [];
                    for (var i = 0; i < pathPoints.length; i++) {
                        var subPoints = [];
                        for (var j = 0; j < pathPoints[i].points.length / 2; j++) {
                            var p = pathPoints[i].points.slice(j * 2, j * 2 + 2);
                            //console.log(i, p)
                            var point = this.getPointAlongGuide(Math.round(p[1]), p[0]);
                            subPoints.push(point.x);
                            subPoints.push(point.y);
                        }
                        points.push(pathPoints[i].type + subPoints.join(' '));
                    }
                    return points.join(' ') + 'Z';
                };
                Ghost.prototype.draw = function() {
                    if (this.height > 0) {
                        var y = Math.round(this.y);
                        var height = Math.round(this.height);
                        var heightChunks = height / 6;
                        var body = [{
                                type: 'M',
                                points: [10, y]
                            }, {
                                type: 'Q',
                                points: [75, y, 80, y - heightChunks * 2]
                            }, {
                                type: 'L',
                                points: [85, y - heightChunks * 3,
                                    90, y - heightChunks * 4,
                                    95, y - heightChunks * 5,
                                    100, y - heightChunks * 6,
                                    75, y - heightChunks * 5,
                                    50, y - heightChunks * 6,
                                    25, y - heightChunks * 5,
                                    0, y - heightChunks * 6, -25, y - heightChunks * 5, -50, y - heightChunks * 6, -75, y - heightChunks * 5, -100, y - heightChunks * 6, -95, y - heightChunks * 5, -90, y - heightChunks * 4, -85, y - heightChunks * 3, -80, y - heightChunks * 2
                                ]
                            },

                            {
                                type: 'Q',
                                points: [-75, y, 10, y]
                            }
                        ];

                        this.body.attr({
                            d: this.drawPath(body)
                        });
                        var leftEye = [{
                            type: 'M',
                            points: [-40, y - heightChunks * 2]
                        }, {
                            type: 'Q',
                            points: [-50, y - heightChunks * 2, -50, y - heightChunks * 2.5]
                        }, {
                            type: 'Q',
                            points: [-50, y - heightChunks * 3, -40, y - heightChunks * 3]
                        }, {
                            type: 'Q',
                            points: [-30, y - heightChunks * 3, -30, y - heightChunks * 2.5]
                        }, {
                            type: 'Q',
                            points: [-30, y - heightChunks * 2, -40, y - heightChunks * 2]
                        }];

                        this.eyeLeft.attr({
                            d: this.drawPath(leftEye)
                        });
                        var rightEye = [{
                            type: 'M',
                            points: [40, y - heightChunks * 2]
                        }, {
                            type: 'Q',
                            points: [50, y - heightChunks * 2, 50, y - heightChunks * 2.5]
                        }, {
                            type: 'Q',
                            points: [50, y - heightChunks * 3, 40, y - heightChunks * 3]
                        }, {
                            type: 'Q',
                            points: [30, y - heightChunks * 3, 30, y - heightChunks * 2.5]
                        }, {
                            type: 'Q',
                            points: [30, y - heightChunks * 2, 40, y - heightChunks * 2]
                        }];

                        this.eyeRight.attr({
                            d: this.drawPath(rightEye)
                        });
                        var mouth = [{
                            type: 'M',
                            points: [0, y - heightChunks * 3]
                        }, {
                            type: 'Q',
                            points: [20, y - heightChunks * 3, 20, y - heightChunks * 3.5]
                        }, {
                            type: 'Q',
                            points: [20, y - heightChunks * 4.5, 0, y - heightChunks * 4.5]
                        }, {
                            type: 'Q',
                            points: [-20, y - heightChunks * 4.5, -20, y - heightChunks * 3.5]
                        }, {
                            type: 'Q',
                            points: [-20, y - heightChunks * 3, 0, y - heightChunks * 3]
                        }];

                        this.mouth.attr({
                            d: this.drawPath(mouth)
                        });
                    }
                };
                return Ghost;
            }();
            var StageManager = /** @class */ function() {
                function StageManager(svg) {
                    this.svg = svg;
                    this.ghosts = {};
                    this.size = {
                        width: 0,
                        height: 0
                    };
                }
                StageManager.prototype.init = function() {
                    var _this = this;
                    window.addEventListener('resize', function() {
                        return _this.onResize();
                    }, true);
                    this.onResize();
                    this.tick();
                };
                StageManager.prototype.onResize = function() {
                    this.size.width = window.innerWidth;
                    this.size.height = window.innerHeight;
                    this.svg.
                    attr('width', this.size.width).
                    attr('height', this.size.height);
                    // for(let i in this.ghosts)
                    // {
                    // 	this.ghosts[i].updateGuide();
                    // }
                };
                StageManager.prototype.addGhost = function() {
                    var _this = this;
                    var start = {
                        x: this.size.width / 2,
                        //x: this.size.width / (Math.random() * (5 - 2) + 2),
                        y: this.size.height
                    };
                    var end = {
                        x: this.size.width / 4 + Math.random() * (this.size.width / 2),
                        y: -300
                    };
                    var ghost = new Ghost(this.svg, start, end, this.onGhostComplete);
                    ghost.start(function(ghost) {
                        return _this.removeGhost(ghost);
                    });
                    this.ghosts[ghost.id] = ghost;
                };
                StageManager.prototype.removeGhost = function(ghost) {
                    delete this.ghosts[ghost.id];
                    ghost.remove();
                    ghost = null;
                };
                StageManager.prototype.tick = function() {
                    var _this = this;
                    for (var i in this.ghosts) {
                        this.ghosts[i].draw();
                    }
                    requestAnimationFrame(function() {
                        return _this.tick();
                    });
                };
                return StageManager;
            }();
            var stageManager = new StageManager(Snap('svg'));
            stageManager.init();
            makeGhost();

            function makeGhost() {
                stageManager.addGhost();
                setTimeout(makeGhost, Math.random() * 1500);
            }
        });
    </script>
</body>

</html>